@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme inline {
	--font-sans: var(--font-geist);
}


/* --- Fullscreen background video --- */
#bg-video {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
z-index: -1;
filter: brightness(1) contrast(1.0) saturate(1.2);
}

#side-video {
/* position: fixed; */
/* top: 0; */
/* left: 500 px; */
width: 100%;
height: 100%;
/* object-fit: cover; */
/* z-index: -1; */
/* filter: brightness(0.45) contrast(1.2) saturate(1.1); */
}


/* --- Overlay gradient for Tesla aesthetic --- */
#overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
/* background: radial-gradient(circle at center, rgba(120,150,255,0.25), rgba(0,0,20,0.9)); */
background: radial-gradient(circle at center, rgba(120,150,255,0.0), rgba(0,0,20,0.1));
z-index: -1;
}